<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/c.jpg" type="image/jpg">
    <title>Weather App</title>
    <style>
        h1{
            text-align: center;
        }
        img{
            height: 80vh; width: 90vw;
            
        }
    </style>
</head>
<body>
    <h1> Ooopss Page Not found !!!</h1>
    <img src="./img/err.jpg" alt="404 Error">
    <a href="/"><button> Back to home</button></a>
</body>
</html>